<% provide(:title, "Show post") %>
<p id="notice"><%= notice %></p>
<div class="contact-img">
  <h1>Contact Me</h1>
  <hr class="small">
  <h2>Have questions? I have answers (maybe).</h2>
</div>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<p class="content-text">
  Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!
</p>
</div>